
    <body>
       
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/doctors">Doctors</a></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="medical-services.html">Housing</a></li>
                                <li><a href="medical-services.html">Education and Employment Services</a></li>
                                <li><a href="medical-services.html">Medical Care</a></li>
                                <li><a href="medical-services.html">Counseling, Mental Health Services, Support Groups</a></li>
                                <li><a href="medical-services.html">Case Management, Referrals, and Supportive Services</a></li>
                                <li><a href="medical-services.html">Food and Clothing Assistance</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <div class="medical-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div><!--breadcrumb-->
        <div class="divide70"></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/img_jeffrey_murdock_web_5815.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Housing</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/education3.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Education and Employment Services</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/medicalcare.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Medical Care</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
            </div><!--row end-->
                 <div class="row">
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/prnn-delyon.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Counseling, Mental Health Services, Support Groups</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/casemng.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Case Management, Referrals, and Supportive Services</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/reentry.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Food and Clothing Assistance</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id bibendum massa, vulputate consectetur dui. Ut ut eros congue, condimentum massa
                        </p>
                        <a href="#" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
            </div><!--row end-->
        </div>
        <!--services container-->


 
        

             <script src="js/jquery.min.js"></script>
               <script src="js/jquery-migrate.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/pace.min.js" type="text/javascript"></script>
        <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="js/jquery.stellar.min.js" type="text/javascript"></script>
        <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
        <script src="js/wow.min.js" type="text/javascript"></script>
        <script src="js/medical-custom.js" type="text/javascript"></script>
    </body>
