
    <body>
       
        

        <div class="medical-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div><!--breadcrumb-->
        <div class="divide70"></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/img_jeffrey_murdock_web_5815.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Housing</h4>
                        <p>
                            
                        </p>
                        <a href="/houses" target="_blank" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/education3.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Education and Employment Services</h4>
                        <p>
                            
                        </p>
                        <a href="/eaes" target="_blank" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/medicalcare.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Medical Care</h4>
                        <p>
                           
                        </p>
                        <a href="/mc" target="_blank" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
            </div><!--row end-->
                 <div class="row">
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/prnn-delyon.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Counseling, Mental Health Services, Support Groups</h4>
                        <p>
                            
                        </p>
                        <a href="/cms" target="_blank" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/casemng.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Case Management, Referrals, and Supportive Services</h4>
                        <p>
                            
                        </p>
                        <a href="/crs" target="_blank" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
                <div class="col-sm-4 margin30">
                    <div class="service-box">
                        <img src="img/medical/reentry.jpg" class="img-responsive" alt="">
                        <i class="fa fa-medkit"></i>
                        <h4>Food and Clothing Assistance</h4>
                        <p>
                            
                        </p>
                        <a href="/faca" target="_blank" class="btn btn-theme-bg">Know more...</a>
                    </div>
                </div><!--col end-->
            </div><!--row end-->
        </div>
        <!--services container-->


 
        

             <script src="js/jquery.min.js"></script>
               <script src="js/jquery-migrate.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/pace.min.js" type="text/javascript"></script>
        <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="js/jquery.stellar.min.js" type="text/javascript"></script>
        <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
        <script src="js/wow.min.js" type="text/javascript"></script>
        <script src="js/medical-custom.js" type="text/javascript"></script>
    </body>
