<div id="floating-panel">
 <input id="address" type="textbox" value="">
 <input id="submit" type="button" value="Location">
</div>
<div id="map"></div>
 
 <script async defer
 src="https://maps.googleapis.com/maps/api/js?callback=initMap">
 </script>