

	<div id="wall" data-500-end="opacity:100;" data-top="opacity:0;"  >
		<%= image_tag "brick-wall.jpg" %>
	</div>

	<div id="silo" data-500-end="opacity:1;" data-top="opacity:0;" >
		<%= image_tag "mike_silo.png" %>
	</div>

	<div id="cell" data-500-top="opacity:50;" data-end="opacity:0;"  >
		<%= image_tag "jail-cell-bars-psd-449125.png" %>
	</div>

	<div id="free" data-500-end="opacity:0;" data-top="opacity:1;" >
		<%= image_tag "free.jpg" %>
	</div>

	<a href="/resources" target="_blank">
		<div id="enter" data-0-top="opacity:0;" data-end="opacity:1;" ></div>
	</a>





	<script type="text/javascript" src="../dist/skrollr.min.js"></script>

	<script type="text/javascript">
		skrollr.init();
	</script>













